node_modules/*
npm-debug.log
.tscache
.sublime-grunt-cache
*.tmp.txt
*.cache
yarn-error.log
dist
typings
bin
.env
coverage
node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
